<div class="main-container">
  <div class="open-text">
    <h1>Само зяпаш? Ето няколко предложения от нас, вместо това</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis, nisi a tincidunt venenatis, sapien lorem
      iaculis
      nisl, nec rutrum enim orci at nulla. Suspendisse potenti. Nulla ut lectus in nisi commodo semper vel pharetra est. Cras
      rutrum
      neque orci, sit amet commodo mi cursus gravida. Maecenas posuere eros vitae nibh ullamcorper, a semper enim vestibulum.
      Fusce
      sit amet ante vel risus volutpat egestas. Sed eu erat in ipsum ultrices facilisis. Praesent vitae libero neque. Etiam varius
      commodo fringilla.

      Quisque auctor orci eget venenatis sollicitudin. Pellentesque sed laoreet dolor. Nulla lorem sem, auctor pulvinar nunc ut,
      luctus pulvinar enim. Donec eleifend malesuada tortor, sed malesuada metus. Nulla ut gravida odio. Proin vitae risus
      consequat, suscipit ipsum quis, efficitur mi. Nunc faucibus arcu magna, quis porta tellus volutpat at. Vestibulum feugiat
      ligula elit, sed porta elit volutpat pulvinar. Nulla sit amet porttitor ligula. Nam fermentum dui ut interdum congue. Nulla
      ac
      maximus arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus ac mi a justo
      varius ultrices id nec lorem. Nunc sed risus porttitor, faucibus ipsum quis, consequat elit. Aliquam tempus, sem eget
      bibendum
      vestibulum, velit lorem efficitur nisl, vel ultricies enim urna vitae lacus.

      Etiam feugiat augue dui, eu ultrices enim porta ut. Quisque sit amet feugiat elit, ac viverra nisl. Donec efficitur eros sit
      amet molestie euismod. Vivamus consequat sit amet nibh nec aliquet. Duis id sem vitae velit tempus malesuada. Maecenas et
      cursus eros. Quisque mattis lectus a elit efficitur feugiat. Morbi pulvinar tellus metus, eget aliquet neque ultricies
      vitae.
      Sed a pellentesque massa.
    </p>
  </div>

  <div class="role kelesh">
    <div class="role-text">
      <h3>Келеши</h3>
      <p>Cras euismod dictum nisl, et aliquet lectus consectetur in. Morbi vel imperdiet odio, non scelerisque purus. Aenean
        mollis sapien quis ligula volutpat tristique. Suspendisse sit amet elit at lectus ornare tempus ut et velit. Donec
        vulputate lacus eget tempor placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
        himenaeos. Sed sed porta urna. Nunc tempor interdum nibh. Vestibulum feugiat viverra leo non ullamcorper. Donec lacinia
        lorem sed orci tincidunt, vitae posuere neque dignissim. Sed nec nulla mollis, rutrum diam id, fermentum mi.</p>
    </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" alt="">
  </div>

  <div class="role umnik">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" alt="">
    <div class="role-text">
      <h3>Умници</h3>
      <p>Cras euismod dictum nisl, et aliquet lectus consectetur in. Morbi vel imperdiet odio, non scelerisque purus. Aenean
        mollis
        sapien quis ligula volutpat tristique. Suspendisse sit amet elit at lectus ornare tempus ut et velit. Donec vulputate
        lacus
        eget tempor placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed sed
        porta urna. Nunc tempor interdum nibh. Vestibulum feugiat viverra leo non ullamcorper. Donec lacinia lorem sed orci
        tincidunt, vitae posuere neque dignissim. Sed nec nulla mollis, rutrum diam id, fermentum mi.</p>
    </div>
  </div>

  <div class="role anonimen">
    <div class="role-text">
      <h3>Анонимни</h3>
      <p>Cras euismod dictum nisl, et aliquet lectus consectetur in. Morbi vel imperdiet odio, non scelerisque purus. Aenean
        mollis
        sapien quis ligula volutpat tristique. Suspendisse sit amet elit at lectus ornare tempus ut et velit. Donec vulputate
        lacus
        eget tempor placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed sed
        porta urna. Nunc tempor interdum nibh. Vestibulum feugiat viverra leo non ullamcorper. Donec lacinia lorem sed orci
        tincidunt, vitae posuere neque dignissim. Sed nec nulla mollis, rutrum diam id, fermentum mi.</p>
    </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" alt="">
  </div>

  <div class="role simpatichen">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" alt="">
    <div class="role-text">
      <h3>Симпатични</h3>
      <p>Cras euismod dictum nisl, et aliquet lectus consectetur in. Morbi vel imperdiet odio, non scelerisque purus. Aenean
        mollis
        sapien quis ligula volutpat tristique. Suspendisse sit amet elit at lectus ornare tempus ut et velit. Donec vulputate
        lacus
        eget tempor placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed sed
        porta urna. Nunc tempor interdum nibh. Vestibulum feugiat viverra leo non ullamcorper. Donec lacinia lorem sed orci
        tincidunt, vitae posuere neque dignissim. Sed nec nulla mollis, rutrum diam id, fermentum mi.</p>
    </div>
  </div>
</div>
