<div class="main-container">
  <div class="open-text">
    <h1>Само зяпаш? Ето едно предложение от нас, вместо това</h1>
    <p>
      Ако желаеш да вземеш участие в групите по интереси, да публикуваш новини, изпълнения или творчество или просто да
      коментираш публикациите трябва да се регистрираш.  И след това важно решение, ще се наложи да направиш още един важен
      избор. Трябва да избереш една от четирите вида групи потребители. Избирай умно, защото промяна ще може да направиш след
      определен период от време 🙂. Така че, кой си ти?
    </p>
  </div>

  <div class="role kelesh">
    <div class="role-text">
      <h3>Келеши</h3>
      <p>Имаш характер, който градиш с хъс, но той не допада на разумните и праволинейни хора? Значи за теб има достойно място
        в сайта.</p>
    </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" alt="">
  </div>

  <div class="role umnik">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" alt="">
    <div class="role-text">
      <h3>Умници</h3>
      <p>Групата на умниците ще събере не само природно надарени таланти, но и такива за които науката, знанието са приоритет</p>
    </div>
  </div>

  <div class="role anonimen">
    <div class="role-text">
      <h3>Анонимни</h3>
      <p>Не искаш публичност, а това какъв си и кой си е дълбока конспирация. Значи си за тук.</p>
    </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" alt="">
  </div>

  <div class="role simpatichen">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" alt="">
    <div class="role-text">
      <h3>Симпатични</h3>
      <p>Тук ще има красота - не само външна, но и вътрешна. Ако се чувствате такива - изберете нея.</p>
    </div>
  </div>
</div>
