@import "../../../../../variables";

.main-container {
  text-align: center;
  padding-bottom: 1em;
}

::ng-deep .carousel {
  width: 90%;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 600px) {
    width: 100%;
  }
}

::ng-deep.slick-prev:before, ::ng-deep.slick-next:before {
  color: #000000;
  font-size: 30px;
}

::ng-deep.slick-prev {
  left: -34px;
}

h1, h4 {
  color: $mainColor;
  text-shadow: 0px 0px 3px #000000;
}

h4 {
  margin-top: 1em;
}
