@import "../../../../variables";

.main-container {
  margin: 2em 3em;
  color: $mainColor;
}

.heading {
  text-align: center;
}

.top-users {
  margin-bottom: 1em;
  border: 1px solid $mainColor;
  font-weight: bold;
  padding: 1em;
  border-radius: 8px;
  text-align: center;
}

.first {
  font-size: 32px;
  color: gold;
}

.second {
  font-size: 24px;
  color: silver;
}

.third {
  font-size: 18px;
  color: burlywood;
}


