@import "../../../../variables";
@import "../../../styles/authentication-forms";

.main-container {
  padding: 1em 2em;
  text-align: center;

  h1 {
    color: $mainColor;
  }

  form {
    text-align: center;
  }

  img {
    width: 40em;
    height: 25em;
    border: 3px solid $mainColor;
    margin-bottom: 1em;
  }
}
