<div class="main-container">
  <h1>За 1oflads</h1>
  <p>Здравейте приятели,

    Благодарим ви, че сте в www.1oflads.com Този сайт бе създаден през март 2010 година като резултат от изпълнението на проект
    "Да участвам в живота си", подкрепен с грант от Тръста за гражданско общество в Централна и Източна Европа. Идеята ни бе, че
    освен място, от което да получаваме информация, Интернет може да бъде място, в което да покажем какво можем, какво знаем,
    какво мислим по важни за нас въпроси....място, в което да присъстваме наистина пълнокръвно и лично всички млади. Защото, ако
    Интернет е начинът за общуване на бъдещето, то той е нашият начин да бъдем и чути.

    Ето защо, каним Ви да споделите с нас и чрез сайта ни своите таланти и своите възгледи за всичко, което Ви вълнува. Формата не
    е важна - текст, музика, филм, презентация - изборът е Ваш! Няма никакви ограничения, защото знаем, че щом сте с нас сте
    толерантни, чувствителни към красивото в света и ангажирани с неговите болки. Вашите материали ще бъдат публикувани, ако се
    регистрирате като потребител на сайта ни чрез приложената в началната страница регистрационна форма. Пишете ни на мейл
    partners.dupnitsa.ngo@gmail.com, че желаете да публикувате материали, за да ви дадем статут на автор. Разбира се, можете да се
    включите в дискусиите на сайта чрез рубриката за коментар към всеки материал, който Ви направи впечатление, или пък да
    започнете своя дискусия във форума към сайта.

    Добре дошли!</p>
  <p>2010</p>
  <img src="http://1oflads.com/images/stories/general%20photo.jpg" alt="team">
  <h1>За СНЦ "Партньори - Дупница"</h1>
  <p>Quisque venenatis iaculis hendrerit. Duis molestie magna nibh, faucibus imperdiet augue vestibulum eget. Orci varius natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec pellentesque libero nisl, eget egestas enim
    ullamcorper id. Cras eros elit, malesuada quis elit eu, iaculis porttitor augue. Fusce mattis ac tortor ac accumsan. Curabitur
    id justo non neque hendrerit egestas a sit amet turpis. Sed fringilla consequat urna non consequat. Donec hendrerit tincidunt
    felis, dapibus consectetur purus interdum vitae. Praesent in pellentesque nunc, vel mattis sem. Donec eget viverra justo, non
    consectetur est. Curabitur arcu lectus, pellentesque ut elementum sit amet, molestie vel mauris. Integer in leo rhoncus,
    fringilla nisi sagittis, malesuada enim. In luctus sagittis pharetra. Praesent ornare eget nisl nec gravida. Sed lacinia odio
    quis rutrum scelerisque.</p>
  <h1>Контакти</h1>
  <form>
    <label>
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Име">
    </label>
    <label>
      <i class="fas fa-envelope"></i>
      <input type="text" placeholder="Имейл">
    </label>
    <label>
      <textarea placeholder="Съдържание"></textarea>
    </label>
    <button class="color-button">Изпрати</button>
  </form>
</div>
