<!--<div class="main-container">-->
<!--  <form>-->
<!--    <h1>Създаване на група</h1>-->
<!--    <label>-->
<!--      <input type="text" placeholder="Име на групата">-->
<!--    </label>-->
<!--    <ng-multiselect-dropdown-->
<!--      placeholder="Изберете членове"-->
<!--      [data]="dropdownList"-->
<!--      [(ngModel)]="selectedItems"-->
<!--      [settings]="dropdownSettings"-->
<!--    >-->
<!--    </ng-multiselect-dropdown>-->

<!--    <button class="color-button">Създай</button>-->
<!--  </form>-->
<!--</div>-->
