<div class="main-container">
  <lads-challenge-navigation></lads-challenge-navigation>
  <h1>Супер! Сега остава да ни докажеш, че си изпълнил предизвикателството.</h1>
  <form (submit)="apply()">
    <label>Снимка
      <input [(ngModel)]="model.proof" (change)="fileChanged($event)" name="proof" placeholder="Cнимка" type="file">
    </label>
    <label>
      <textarea [(ngModel)]="model.proofDescription" name="description" placeholder="Как го постигна?"></textarea>
    </label>
    <label>
      Група:
      <select name="groupId" [(ngModel)]="model.groupId">
        <option value="0" selected="selected">-- Не участвам групово --</option>
        <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
      </select>
    </label>
    <button type="submit" class="color-button">Изпрати</button>
  </form>
</div>
