<div class="main-container">
  <h1>Редакция на профила</h1>
  <form (submit)="edit()">
    <h2 *ngIf="roles.length">Роля</h2>
    <p *ngIf="roles.length">За да продължиш, трябва да  избереш роля. Но избирай умно, защото ще можеш да я промениш чак след
      година, а не можеш да продължиш, ако не избереш някоя. Така че, кой си ти?
      че, кой си ти?</p>
    <div class="checkboxes">
      <label *ngFor="let role of roles" [style.color]="role.theme.mainColor">
        <input [value]="role.id" [(ngModel)]="model.roleId" name="role" class="checkbox" type="radio">
        {{role.name}}
      </label>
    </div>
    <h2>Сфери на интерес</h2>
    <div class="spheres">
      <label *ngFor="let sphere of spheres">
        <input type="checkbox" class="checkbox" (click)="toggleSphere(sphere.id)">
        {{sphere.name}}
      </label>
    </div>
    <div class="descriptions">

    </div>
    <h2>Информация</h2>
    <label>
      <i class="fas fa-user"></i>
      <input [(ngModel)]="model.name" name="name" type="text" placeholder="Име">
    </label>
    <label>
      <i class="fas fa-key"></i>
      <input [(ngModel)]="model.password" name="password" type="password" placeholder="Парола">
    </label>
    <label>
      <i class="fas fa-key"></i>
      <input [(ngModel)]="model.confirm" name="confirm" type="password" placeholder="Повтори паролата">
    </label>
    <label>
      <textarea [(ngModel)]="model.description" name="description" placeholder="Описание на профила"></textarea>
    </label>
    <label>Профилна снимка
      <input (change)="fileChanged($event)" name="avatar" placeholder="Профилна снимка" type="file">
    </label>
    <button type="submit" class="color-button">Запази</button>
  </form>
</div>
