@import "../../../../variables";

nav {
  background-color: $mainColor;
  height: 3em;
  text-align: center;
}

ul {
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
  text-transform: uppercase;

  li {
    margin-right: 2em;
    margin-top: 0.8em;
    font-weight: bold;

    a {
      color: #ffffff;
      &:hover {
        color: #E9EBEC;
      }
    }
  }
}
