<div class="main-container">
  <lads-info-carousel [isStatic]="true">
    <div #container class="slide">
      <lads-article-single></lads-article-single>
    </div>
    <div #container class="slide">
      <lads-article-single></lads-article-single>
    </div>
    <div #container class="slide">
      <lads-article-single></lads-article-single>
    </div>
    <div #container class="slide">
      <lads-article-single></lads-article-single>
    </div>
    <div #container class="slide">
      <lads-article-single></lads-article-single>
    </div>
    <div #container class="slide">
      <lads-article-single></lads-article-single>
    </div>
  </lads-info-carousel>
</div>
