<footer>
  <section class="info">
    <ul>
      <li class="address"><i class="fas fa-map-marker-alt"></i>&nbsp;
        ул. "Николаевска" 26, Дупница, България
      </li>
      <li>
        <i class="fas fa-mobile-alt"></i>&nbsp;
        <a href="tel:00359898788998" id="tel"> +359 888 813 422</a>
      </li>
      <li>
        <i class="far fa-envelope"></i>&nbsp;
        <a href="mailto:info@i-know.bg" id="mail">info@1oflads.bg</a>
      </li>
      <li class="conditions">
        <i class="fas fa-user-friends"></i>
        <a id="conditions" routerLink="/legal/terms">
          Условия за ползване
        </a> /
        <a id="privacy" routerLink="/legal/privacy-policy">
          Защита на личните данни
        </a>
      </li>
    </ul>
  </section>
</footer>
