@import "../../../../../variables";

.main-container {
  padding: 1em 2em;

  h1 {
    color: $mainColor;
  }
}

.articles {
  display: grid;
  grid-template-columns: repeat(4, 18em);
  column-gap: 1em;
}
