@import "../../../../../variables";

.main-container {
  margin: 1em auto;
  padding: 1em;
  border-radius: 8px;
  width: 98%;
  height: 18em;
  // background-color: $mainColorLight;
  background-color: $mainColorLightTransparent;
  text-align: center;
  border: 1px solid $mainColor;
  color: $mainColor;
}

h1 {
  color: #000000;
}

.line {
  width: 10%;
  height: 0.5px;
  background-color: #000000;
  margin: 0.5em auto;
}

h3 {
  margin-bottom: 1em;
}


:host ::ng-deep ul,:host ::ng-deep ol{
  margin-left: 1em;
}
