<div class="main-container">
  <h1>Дали страницата ви ще бъде безлична или най-запомнящата се - зависи единствено от вас!</h1>
  <form>
    <label>
      <input type="text" name="name" placeholder="Име на групата">
    </label>
    <label>Снимка
      <input type="file">
    </label>
    <label>Фон на страницата
      <input type="file">
    </label>
    <label>Фон на блока
      <input type="color">
    </label>
    <label>Цвят на текста
      <input type="color">
    </label>
    <label>
      <textarea name="description" placeholder="Описание на групата"></textarea>
    </label>
    <button type="submit" class="color-button">Запази</button>
  </form>
</div>

