<div class="main-container" [style.background-color]="group.backgroundColor">
  <div class="info-container"
       [style.color]="group.fontColor"
       [style.background-color]="group.innerBackgroundColor"
       [style.border-color]="group.fontColor">
    <h1>{{group.name}}</h1>
    <img [style.border-color]="group.fontColor" src="{{group.avatarUrl}}">
    <p>{{group.description}}</p>
    <p>Членове</p>
    <ul>
      <li *ngFor="let member of group.members"><a [style.color]="group.fontColor"
                                                  [routerLink]="['/user/profile', member.id]">{{member.name}}</a></li>
    </ul>
  </div>
</div>

